@import "importables";

.image {
  width: 100%;
}

.table {
  border-collapse: collapse;

  .tableCell, .tableHeaderCell {
    border: 2px solid $bg-light;
    padding: 10px;
  }

  .tableHeaderCell {
    font-weight: 700;
  }
}

.link {
  transition: color 100ms ease-in-out;
  color: lighten($bg-light, 50%);

  &:hover, &:focus {
    color: lighten($bg-light, 70%);
  }
}

.listItem {
  margin-top: 5px;
  list-style-type: circle;
}

.briefingTitle {
  @include miriam;
}
