@import "importables";

.editor {
  display: flex;
  height: calc(100vh - #{$navbar-height});
  overflow-y: hidden;

  $interactive-width: 65%;
  .interactive {
    width: $interactive-width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    $files-height: 40px;
    .filesLoading {
      height: $files-height;
    }

    .files {
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-block-start: 0;
      padding-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      height: $files-height;
      @include bg-dark;

      .file, .file a, .fileSelected, .fileSelected a {
        padding: 10px 5px;
        text-decoration: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: background-color 100ms ease-in-out;
      }

      .file, .file a {
        color: lighten($bg-dark, 60%);
        @include bg-dark;
      }

      .fileSelected, .fileSelected a {
        color: lighten($bg-light, 70%);
        @include bg-light;
      }
    }

    .monacoLoading {
      @include bg-dark;
    }

    .monacoContainer, .monacoLoading {
      width: 100%;
      flex: 1;
    }

    $console-height: 250px;
    .console {
      flex: 1;
      height: $console-height;
      max-height: $console-height;
      min-height: $console-height;

      width: 100%;
      background-color: black;

      $run-color: #263b26;
      $kill-color: #452323;
      $button-height: 25px;
      .runButton, .killButton {
        width: 100%;
        height: $button-height;

        display: flex;
        justify-content: center;
        align-items: center;
        @include miriam;
      }

      .runButton {
        color: lighten($run-color, 50%);
        background-color: $run-color;
      }

      .killButton {
        color: lighten($kill-color, 50%);
        background-color: $kill-color;
      }

      .xtermContainer {
        width: 100%;
        height: $console-height - $button-height;
      }
    }
  }

  .briefing {
    @include bg-dark;
    height: 100%;
    width: 100% - $interactive-width;

    .briefingText {
      padding: 20px;
      color: lighten($bg-dark, 85%);

      height: 100%;
      overflow: auto;

      p, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
      }
    }
  }
}
