@import "importables";
@import "form.module";

.editor {
  display: flex;
  height: calc(100vh - #{$navbar-height});
  overflow-y: hidden;

  $editor-width: 65%;
  $console-width: 30%;
  $sidebar-width: 60px;
  $feedback-width: 30vw;
  $file-height: 35px;
  .filesSection .filesContainer {
    width: 100%;
    height: 100%;
    @include bg-dark;

    padding: 20px 10px 15px;

    .newFile {
      padding: 0 15px;
      margin-bottom: 10px;
      color: lighten($bg-light, 20%);

      &:hover {
        color: lighten($bg-light, 60%);
      }
    }

    .files {
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-block-start: 0;
      padding-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;

      width: 100%;
      height: 100%;
      overflow-y: auto;

      .file, .fileSelected {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 200px;
        height: $file-height;
        margin-bottom: 2px;
      }

      .file a, .fileSelected a {
        padding: 0 15px;
        height: 100%;
        display: inline-flex;
        align-items: center;

        &:not(.fileDelete) {
          width: 100%;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .file, .file a, .fileSelected, .fileSelected a {
        text-decoration: none;
        border-radius: 10px;

        transition: transform 100ms ease-in-out;
        &:active {
          transform: scale(0.95);
        }
      }

      .file, .file a {
        transition: background-color 100ms ease-in-out;
        color: lighten($bg-dark, 60%);
        @include bg-dark;

        &:hover {
          background-color: lighten($bg-dark, 10%);
        }
      }

      .fileSelected, .fileSelected a {
        color: lighten($bg-light, 70%);
        background-color: lighten($bg-light, 20%);

        .fileDelete {
          margin-left: 5px;
          color: lighten($bg-light, 50%);
          transition: color 100ms ease-in-out;

          &:hover {
            color: lighten($bg-light, 70%);
          }
        }
      }
    }
  }

  .editorSection {
    @include bg-dark;
    width: $editor-width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    &.editorSectionFeedback {
      width: calc(#{$editor-width} - #{$feedback-width});
    }

    .editorStatus {
      margin-top: 10px;
      margin-bottom: 10px;

      p {
        color: lighten($bg-light, 20%);

        @keyframes flashing {
          0% { color: lighten($bg-light, 30%) }
          50% { color: lighten($bg-light, 50%) }
        }

        &.editorStatusSaving {
          animation: flashing 1s ease-in-out infinite;
        }
      }
    }

    .monacoLoading {
      @include bg-dark;
    }

    .monacoContainer, .monacoLoading {
      width: 100%;
      flex: 1;
    }

    .monacoContainer {
      border-top-left-radius: 10px;
      overflow: hidden;
    }
  }

  .consoleSection {
    width: $console-width;

    background-color: $bg-dark;

    .console {
      flex: 1;
      height: 100%;

      width: 100%;
      @include bg-dark;

      $run-color: #263b26;
      $kill-color: #452323;
      $button-height: 35px;
      .runButton, .killButton, .loadingButton {
        width: 100%;
        margin-top: 10px;
        height: $button-height - 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        @include miriam;

        transition: background-color 100ms ease-in-out;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .runButton {
        color: lighten($run-color, 50%);
        background-color: $run-color;

        &:hover {
          background-color: darken($run-color, 5%);
        }
      }

      .loadingButton {
        color: lighten($bg-light, 20%);
        background-color: $bg-light;
        cursor: wait;
      }

      .killButton {
        color: lighten($kill-color, 50%);
        background-color: $kill-color;

        &:hover {
          background-color: darken($kill-color, 5%);
        }
      }

      .xtermContainer {
        width: 100%;
        height: calc(100% - #{$button-height / 2});

        :global(.xterm-viewport::-webkit-scrollbar) {
          background: rgba(0, 0, 0, 0.3);
        }

        :global(.xterm-viewport::-webkit-scrollbar-thumb) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .sidebar {
    width: $sidebar-width;
    background-color: $bg-dark;

    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .sidebarButton {
      $dimensions: $sidebar-width - 20px;

      width: $dimensions;
      height: $dimensions;

      background-color: $bg-light;
      border-radius: 10px;

      color: lighten($bg-light, 60%);
      transition: color 100ms ease-in-out;

      margin-bottom: 10px;

      &:hover {
        color: lighten($bg-light, 80%);
      }
    }
  }

  .popOver {
    @include bg-light;
    width: 30vw;

    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 10px;
    top: $navbar-height;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    &.popOverActive {
      transform: translateX(0);
    }

    box-shadow: 0 0 30px 1px adjust-color($bg-light, $alpha: 0.5, $lightness: -15%);

    display: flex;
    flex-direction: column;

    padding: 20px;

    .briefingText {
      color: lighten($bg-dark, 85%);

      flex: 1;
      overflow: auto;
      margin-top: 5px;

      p, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
      }
    }
  }

  .feedbackSection {
    @include bg-dark;
    width: $feedback-width;
    padding-left: 20px;
    padding-right: 20px;

    .feedbackHeader {
      color: white;
      margin-top: 15px;
      margin-bottom: 10px;
      @include miriam;
      font-weight: 700;
    }

    .feedbackMetadata {
      color: lighten($bg-light, 60%);
      margin-bottom: 10px;
    }

    .feedbackTextarea {
      background-color: transparent;
      outline: none;
      font-family: 'Lato', sans-serif;

      max-width: 100%;
      min-width: 50%;
      min-height: 100px;
      max-height: 400px;
    }

    .voiceFeedback {
      .voiceRecord, .voiceStop, .voiceDelete {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        font-size: 18px;

        background-color: $bg-light;
        color: lighten($bg-light, 70%);

        margin-top: 20px;

        transition: color 100ms ease-in-out;
        &:hover {
          color: white;
        }

        &:disabled {
          background-color: transparent;
          cursor: not-allowed;
        }
      }

      .voiceRecord, .voiceStop {
        margin-right: 10px;
      }

      .voiceRecordActive, .voiceRecordActive:hover {
        color: #ef6a6a;
      }
    }

    .voiceFeedbackPreview {
      outline: none;
      display: block;

      margin-top: 10px;
    }

    .feedbackPaginationButton {
      margin-right: 10px;
    }
  }
}
