$navbar-height: 50px;

$bg-light: #151e3f;
$bg-dark: #030027;

$default-border: 1px solid lighten($bg-light, 60);

@mixin dark-shimmer {
  border-radius: 400px;
  filter: brightness(0.4) contrast(1.5) sepia(1) hue-rotate(-156deg) saturate(1.5);
}

@mixin light-shimmer {
  border-radius: 400px;
  filter: brightness(0.6) contrast(4.5) sepia(1) hue-rotate(-156deg) saturate(1.5);
}

@mixin miriam {
  font-family: 'Miriam Libre', monospace;
  font-weight: 400;
}

@mixin bg-light {
  background-color: $bg-light;
}

@mixin bg-dark {
  background-color: $bg-dark;
}

@mixin center-container {
  height: calc(100vh - #{$navbar-height});
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
