@mixin miriam {
  font-family: 'Miriam', monospace;
  font-weight: 400;
}

$bg-light: #151e3f;
$bg-dark: #030027;

@mixin bg-light {
  background-color: $bg-light;
}

@mixin bg-dark {
  background-color: $bg-dark;
}
