.loader {
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        place-content: center;
    }
}

.grayShimmer {
    border-radius: 30px;
}
