.loader {
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        place-content: center;
        z-index: -1;
    }
}

.grayShimmer {
    border-radius: 30px;
    display: inline-block;
    filter: brightness(0.9);
}
